 @charset "utf-8";
/* CSS Document */




.container {
  padding-top: 50px;
  padding-bottom: 50px;
}



.slotMachine .slot{
  height:100px;
  background-position-x: 55%;
  background-repeat: no-repeat;
}

.slot1 {
  background-image: url("../img/slot1.png");
}

.slot2 {
  background-image: url("../img/slot2.png");
}

.slot3 {
  background-image: url("../img/slot3.png");
}

.slot4 {
  background-image: url("../img/slot4.png");
}

.slot5 {
  background-image: url("../img/slot5.png");
}

.slot6 {
  background-image: url("../img/slot6.png");
}

/*
 * Casino
 */
#casino {
  background-color: rgb(240, 150, 150);
}

#casino  {
  height: 100vh;
}

 #casino .content > div {
   display: flex;
   align-items: stretch;
  width: 100vw;
  height:100vh;
  margin: 0 0;
} 

.machineContainer{
  padding: 5px 1px 5px 1px;
  height: 135px;
}

.slotMachine{
  width: 33.333333%;
  border: 5px solid #CF5178;
  display: inline-block;
}

#casino .btn-group {
}

#casino .btn-group .btn {
  border: none;
  background-color: rgb(209, 79, 119);
}

#casino .btn-group .btn:hover, .btn-group .btn:focus {
  background-color: rgb(180, 75, 119);
}



