@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";



/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Montserrat' !important;
}

body {
  margin: 0;

}

//created a class in the roundedbutton
.custom-dialog {
  width: 100vw;
  min-width: 100vw;
  height: 65vh;


  .mat-dialog-container {
    background-color: #C4CDE9;
    position: absolute;
    border-radius: 33px 33px 0 0;
    padding-top: 57px;
    padding-left: 40px;
    padding-right: 40px;
    height: auto;
    padding-bottom: 100px;
    bottom: 0;

    .mat-dialog-title {
      margin-bottom: 40px;
    }

    .mat-dialog-content {
      padding-left: 0px;
      padding-right: 0px;
      margin-right: 0px;
      margin-left: 0px;
      width: 100%;

      .mat-form-field {
        display: initial;
      }
    }
  }
}

.custom-dialog-container {
  @media (min-width: theme('screens.lg')) {
    width: 50vw;
    min-width: 50vw;
    height: 50vh;
  }

  @media (min-width: theme('screens.md')) {
    width: 50vw;
    min-width: 50vw;
    height: 50vh;
  }
 
}

.custom-dialog {
  .mat-dialog-container {
    @media (min-width: theme('screens.md')) {
      width: 72vw;
      height: 70vh;
    }
    @media (min-width: theme('screens.lg')) {
      width: 30vw;
      height: 100vh;
      right: 0px;
      border-radius: 45px 0 0 0 ;

    }

    .button-wrapper {
      @media (min-width: theme('screens.md')) {
        height: 175px;
      }

      @media (min-width: theme('screens.lg')) {
        height: 90px;
        
      }

      .custom-no-button {
        width: 110px;
        float: left;
        height: 110px;
        border-radius: 100%;
        background-color: white;
        margin-left: 30px;
        border: none;

        @media (min-width: theme('screens.md')) {
          margin-right: 5vw;
          width: 16.666667vw;
          height: 16.666667vw;
          float: right;
          margin-left: 0;
        }

        @media (min-width: theme('screens.lg')) {
            width: 5vw;
            float: left;
            height: 5vw;
            border-radius: 100%;
            background-color: white;
            margin-left: 30px;
            border: none;
        }
      }
    }
  }
}
