<section class="container tw-grid tw-grid-cols-2 md:tw-grid-cols-4 lg:tw-grid-cols-5 ">
    <div *ngFor="let post of posts$ | async" class="postsquare  ">
        <div class="wrapper tw-grid tw-aspect-square">
        <div class="image-wrapper">
          <!--  <img class="gallery_image" [src]="'http://localhost:8080/' + post.image"/> -->
            <img class="gallery_image" [src]="'http://localhost:5000/' +  post.image"/>
        </div>
        <div class="hoverbg-wrapper tw-w-full tw-h-full tw-aspect-square" (click)="onClickPost(post)">
            <p class="gallery_title">{{ post.title }}</p>
        </div>
    </div>
</div>

    <app-roundbtn></app-roundbtn>
</section>

