<section class="container">
    <div *ngFor="let post of posts$ | async" class="postsquare">
        <div class="wrapper">
        <div class="image-wrapper">
          <!--  <img class="gallery_image" [src]="'http://localhost:8080/' + post.image"/> -->
            <img class="gallery_image" [src]="'http://localhost:5000/' +  post.image"/>
        </div>
        <div class="hoverbg-wrapper">
            <p class="gallery_title">{{ post.title }}</p>
        </div>
    </div>
</div>

    <app-roundbtn></app-roundbtn>
    
</section>

